/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Pixelify+Sans:wght@400;700&display=swap');

@import 'tailwindcss';

@theme {
  --color-dark: #15051d;
  --color-light: #ffffff;

  --color-green: oklch(83.3% 0.182 160.8);
  --color-blue: oklch(0.5928 0.1902 257.28);
  --color-purple: oklch(0.6218 0.2042 279.29);
  --color-pink: oklch(75.8% 0.239 328.2);
  --color-orange: oklch(73.8% 0.156 30.9);
  /* --color-orange: oklch(0.7186 0.1797 11.96); */

  --font-mono: 'Ubuntu Mono', monospace;
  --font-display: 'Pixelify Sans', sans-serif;

  --card-w: 250px;
  --card-gap: 6px;
}

body {
  @apply bg-dark font-mono text-light;
}

.button {
  @apply text-light border-2 font-mono font-bold px-4 py-2 rounded-full min-w-30 cursor-pointer;
}

/* ================================
   Layout
   ================================ */
/* .scene {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 48px;
} */

.cards {
  height: 40vh;
}

/* ================================
   Group labels
   ================================ */
.groups {
  display: flex;
  justify-content: space-around;
  padding: 0 4px;
}

.group-label {
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  opacity: 0.7;
  font-family: var(--font-mono);
}

.bullish-label {
  color: var(--color-green);
}
.mixed-label {
  color: var(--color-purple);
}
.bearish-label {
  color: var(--color-orange);
}
