/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&family=Pixelify+Sans:wght@400;700&display=swap');

@import 'tailwindcss';

@theme {
  --color-dark: #15051d;
  --color-light: #ffffff;

  --color-green: #22eca3;
  --color-blue: #227aec;
  --color-purple: #7270fd;
  --color-pink: #fd70fb;
  --color-orange: #ff6c86;

  --color-blue-brighter: #72d9f3;

  --font-mono: 'Ubuntu Mono', monospace;
  --font-display: 'Pixelify Sans', sans-serif;

  --card-w: 250px;
  --card-gap: 6px;
}

body {
  @apply bg-dark font-mono text-light;
  position: relative;
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  background: linear-gradient(
    to right,
    #22eca3,
    #227aec,
    #7270fd,
    #fd70fb,
    #ff6c86
  );
  mask-image: url('/assets/images/globe.png');
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;
  z-index: 0;
  pointer-events: none;
  opacity: 0.3;
}

.button {
  @apply text-light border-2 font-mono font-bold px-4 py-2 rounded-full min-w-30 cursor-pointer;
}

@media (min-width: 1381px) {
  .pod-wrap::after {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 16px;
    background: var(--color-dark);
    opacity: 0;
    z-index: 3;
    pointer-events: none;
    transition: opacity 0.35s ease;
  }

  .cards:has(.pod-wrap:hover) {
    .pod-wrap {
      &::after {
        opacity: 0.7;
      }
      &::before {
        opacity: 0;
      }

      &:hover {
        &::after {
          opacity: 0;
        }
        &::before {
          opacity: 0.55;
        }
      }
    }
  }
}
